/* оформление для типа карточки */

.card {
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid white;
    border-radius: 8px;

    font-size: 32px;
}

.card.open {
    background: darkgrey;
}